form {
    border: 2px solid rgb(67, 65, 65);
    margin-top: 20px;
    width: 350px;
    margin: 30px auto 0 auto;
    text-align: center;
    border-radius: 8px;
    padding: 30px;
}

form div{
    display: flex;
    justify-content: space-between;
}

form div span{
    border: 1px solid #3f3c3c;
    padding: 15px;
    margin: 15px;
}

form div span:hover{
    cursor: pointer;
    color: white;
    background-color: #ccc;
}
#answer, #equals{
    width: 100%;
    border: 1px solid #3f3c3c;
    border-radius: 8px;
    padding: 16px;
}