.title{
    display: flex;
    justify-content: space-between;
}
.calculator{
    background-color: rgb(235, 227, 227);
    width: 100%;
    max-width: 400px;
    margin: 120px auto 0 auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px 8px #888888;
}
.screen{
    background-color: white;
}
.number{
    letter-spacing: 6px;
}

.keypad{
    display: flex;
    justify-content: space-around;
}
.key{
    border: 1px solid rgb(49, 41, 41);
    font-size: 40px;
    padding: 5px;
    background-color: rgb(100, 88, 88);
    margin: 10px 0;
    border-radius: 15px / 10% 10% 65% 65%;
    text-align: center;
    min-width: 60px;
    box-shadow: 2px 3px 5px 2px #888888;
    color: white;
}
.key:hover{
    background-color: #2a2929;
    color: #ffffff;
}